@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

:root {
    --main-color: black;
    font-family: 'Mukta', sans-serif;
    --accent-color: white;
    scroll-behavior: smooth;
}
body{
    margin: auto;
    max-width: 980px;
}
header .logo {
    font-family: 'Krona One', sans-serif;
    font-size: 3.5em;
    text-align: center;
}
header .menu-items{
    flex: 1; 
    justify-content: space-around;
    display: none;
}
header .menu-items a {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}
header .menu-items a:hover {
    border: 1px solid var(--main-color);
}
/*buger-menu*/
#burger-checkbox{
    display: none;
}

.header-nav input:checked  ~ .menu-items{
    display: block;
}

@media (min-width: 769px) {
    .burger-icon{
        display: none;
    }
    header .header-nav{
        display: flex;
    }
    header #burger-checkbox ~ .menu-items {
        display: flex;
        align-items: center;
    }
}
header .header-banner{
    background-image: url(../img/1.png);
    background-size: cover;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header .header-banner h1{
    color: var(--main-color);
    font-family: 'Krona One', sans-serif;
    font-size: 3.5em;

}
.photo{
    width: 100%;
}
 /* for a lot columns*/
 @media (min-width: 540px){
     .product-list{
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-gap: 5px;
     }
 }
  @media (min-width: 660px){
     .product-list{
         grid-template-columns: 1fr 1fr 1fr;
     }
  }
    @media (min-width: 980px){
     .product-list{
         grid-template-columns: repeat(4, 1fr);
     }
  }
    